.container
	section#searchResultsHead
		.search-filters-top(data-ng-class="{ 'hidden': contentCtrl.isSearchActive === false }")
			span(data-ng-bind-html="'searchAndTotalFoundSheets' | translate:'{searchCondition: \"'+contentCtrl.searchText+'\", total: '+contentCtrl.totalRegisters()+'}'")
		.search-filters-bottom
			.search-filters-bottom-block
				form.form-inline
					span(data-ng-bind-html="'paginationOptionsText' | translate")
					select.form-control(data-ng-model='contentCtrl.resultsByPagesValues().value' data-ng-options='value for value in contentCtrl.resultsByPagesValues().values' ng-change='contentCtrl.newSelectedPaginationSize()')
					span.no-padding
					select.form-control(data-ng-model='contentCtrl.orderDirection().value' data-ng-options='value | translate for value in contentCtrl.orderDirection().values' ng-change='contentCtrl.newSelectedOrderDirection()')
					span(data-ng-bind-html="'orderByText' | translate")
					select.form-control(data-ng-model='contentCtrl.orderBy().value' data-ng-options='value | translate for value in contentCtrl.orderBy().values' ng-change='contentCtrl.newSelectedOrderBy()')

	.container#list-results
		.row.specie-list(data-ng-repeat='specie in contentCtrl.currentResults()')
			row.visible-xs
				.col-md-12.col-sm-12
					a(data-ng-href='/fichas/{{specie._source.catalogoEspeciesId}}' target='_self')
						span.ficha-taxonnombre(data-ng-bind ='specie._source.taxonNombre')
					span.ficha-autor(data-ng-bind='" - "+specie._source.autor' data-ng-hide='!specie._source.autor')
			.row
				.col-md-3.col-sm-3#polaroid
					a(title='{{specie._source.selectedImage.rightsHolder}}' data-ng-href='/fichas/{{specie._source.catalogoEspeciesId}}' target='_self')
						img.img-responsive.img-adaptative(data-ng-src='{{specie._source.selectedImage.url}}')
				.col-md-9.col-sm-9
					.row.hidden-xs
						.col-md-12
							.row
								.col-md-8.col-sm-8
									a(data-ng-href='/fichas/{{specie._source.catalogoEspeciesId}}' target='_self')
										span.ficha-taxonnombre(data-ng-bind ='specie._source.taxonNombre')
									span.ficha-autor(data-ng-bind='" - "+specie._source.autor' data-ng-hide='!specie._source.autor')
								.col-md-4.col-sm-4
									a(data-ng-href='/fichas/{{specie._source.catalogoEspeciesId}}' target='_self')
										span.ficha-id.pull-right(data-ng-bind='specie._source.catalogoEspeciesId')
					.row(data-ng-hide='!specie._source.listaNombresComunes')
						.col-md-12
							span.ficha-title(data-ng-bind-html="'commonNames' | translate")
					.row(data-ng-hide='!specie._source.listaNombresComunes')
						.col-md-12
							span.specie-details(data-ng-bind='specie._source.listaNombresComunes | fixCommonNames')
					.row
						.col-md-12
							span.ficha-title(data-ng-bind-html="'details' | translate")
					.row(data-ng-hide='contentCtrl.isSearchActive === true')
						.col-md-12
							span.specie-details(data-ng-bind-html='contentCtrl.attributesResume(specie._source.atributos)+" "')
							a(data-ng-href='/fichas/{{specie._source.catalogoEspeciesId}}' target='_self')
								span.specie-details Más información.
					.row(data-ng-hide='contentCtrl.isSearchActive === false')
						.col-md-12
							span.specie-details(data-ng-bind-html='specie.foundText+" "')
							a(data-ng-href='/fichas/{{specie._source.catalogoEspeciesId}}' target='_self')
								span.specie-details Más información.
		.row.pagination-control(data-ng-class="{ 'hidden': contentCtrl.totalRegisters() <= contentCtrl.currentRegistersData() }")
			.col-md-12
				.pull-right
					uib-pagination(total-items='contentCtrl.totalRegisters()' ng-model='contentCtrl.currentPage' max-size='5' items-per-page='contentCtrl.itemsPerPage' class='pagination-sm' boundary-links='true' rotate='true' force-ellipses='true' previous-text='‹' next-text='›' first-text='«' last-text='»' ng-change='contentCtrl.changePage()')
				//-Ecologia
				//-Concateno geográfica y reproducción
				//-.row(data-ng-hide='!specie._source.atributos.descripcionTaxonomica')
					.col-md-12
						span Descripción taxonómica
				//-.row(data-ng-hide='!specie._source.atributos.descripcionTaxonomica')
					.col-md-12
						span.list-common-names(data-ng-bind-html='specie._source.atributos.descripcionTaxonomica')
				//-.row(data-ng-hide='!specie._source.atributos.habitat')
					.col-md-12
						span Hábitad
				//-.row(data-ng-hide='!specie._source.atributos.habitat')
					.col-md-12
						span.list-common-names(data-ng-bind-html='specie._source.atributos.habitat')
