.sidebar-inner.c-overflow
	ul.main-menu
		li.sub-menu.toggled.slide
			a(toggle-submenu)
				i
					img(src='images/ico-grupos.svg')
				span(data-ng-bind-html="'filterBiologicalGroups' | translate")
			ul(style='display: block;')
				li
					a(data-ui-sref-active='active' data-ui-sref='widgets.widget-templates' data-ng-click='mactrl.sidebarStat($event)' href='#/widgets/widget-templates' data-ng-bind-html="'filterBiologicalGroupsInsects' | translate")
				li
					a(data-ui-sref-active='active' data-ui-sref='widgets.widget-templates' data-ng-click='mactrl.sidebarStat($event)' href='#/widgets/widget-templates' data-ng-bind-html="'filterBiologicalGroupsBirds' | translate")
				li
					a(data-ui-sref-active='active' data-ui-sref='widgets.widget-templates' data-ng-click='mactrl.sidebarStat($event)' href='#/widgets/widget-templates' data-ng-bind-html="'filterBiologicalGroupsPlants' | translate")
				li
					a(data-ui-sref-active='active' data-ui-sref='widgets.widget-templates' data-ng-click='mactrl.sidebarStat($event)' href='#/widgets/widget-templates' data-ng-bind-html="'filterBiologicalGroupsMammals' | translate")
				li
					a(data-ui-sref-active='active' data-ui-sref='widgets.widget-templates' data-ng-click='mactrl.sidebarStat($event)' href='#/widgets/widget-templates' data-ng-bind-html="'filterBiologicalGroupsReptiles' | translate")
				li
					a(data-ui-sref-active='active' data-ui-sref='widgets.widget-templates' data-ng-click='mactrl.sidebarStat($event)' href='#/widgets/widget-templates' data-ng-bind-html="'filterBiologicalGroupsAmphibians' | translate")
				li
					a(data-ui-sref-active='active' data-ui-sref='widgets.widget-templates' data-ng-click='mactrl.sidebarStat($event)' href='#/widgets/widget-templates' data-ng-bind-html="'filterBiologicalGroupsMushrooms' | translate")
		li.sub-menu.toggled
			a(toggle-submenu)
				i
					img(src='images/ico-zonas.svg')
				span(data-ng-bind-html="'filterGeographicZones' | translate")
			ul(style='display: block;')
				li
					a(data-ui-sref-active='active' data-ui-sref='widgets.widget-templates' data-ng-click='mactrl.sidebarStat($event)' href='#/widgets/widget-templates' data-ng-bind-html="'filterfilterGeographicZonesBadlands' | translate")
				li
					a(data-ui-sref-active='active' data-ui-sref='widgets.widget-templates' data-ng-click='mactrl.sidebarStat($event)' href='#/widgets/widget-templates' data-ng-bind-html="'filterfilterGeographicZonesWetlands' | translate")
		li.sub-menu.toggled
			a(toggle-submenu)
				i
					img(src='images//ico-colecciones.svg')
				span(data-ng-bind-html="'filterCollections' | translate")
			ul(style='display: block;')
				li
					a(data-ui-sref-active='active' data-ui-sref='widgets.widget-templates' data-ng-click='mactrl.sidebarStat($event)' href='#/widgets/widget-templates' data-ng-bind-html="'filterCollectionsBadlands' | translate")
				li
					a(data-ui-sref-active='active' data-ui-sref='widgets.widget-templates' data-ng-click='mactrl.sidebarStat($event)' href='#/widgets/widget-templates' data-ng-bind-html="'filterCollectionsWetlands' | translate")
				li
					a(data-ui-sref-active='active' data-ui-sref='widgets.widget-templates' data-ng-click='mactrl.sidebarStat($event)' href='#/widgets/widget-templates' data-ng-bind-html="'filterCollectionsInvasive' | translate")

		//-li.sub-menu.toggled
			a(toggle-submenu)
				i
					img(src='images/ico-colecciones.svg')
				span(data-ng-bind-html="'filterCollections' | translate")
			ul(style='display: block;')
				li
					a(data-ui-sref-active='active' data-ui-sref='widgets.widget-templates' data-ng-click='mactrl.sidebarStat($event)' href='#/widgets/widget-templates' data-ng-bind-html="'filterCollectionsSheetsWithPhoto' | translate")
