.sidebar-inner.c-overflow
	ul.main-menu
		li(data-ui-sref-active='active')
			a
				i.zmdi.zmdi-home
				| Home
		li(data-ui-sref-active='active')
			a
				i.zmdi.zmdi-accounts-alt
				| Users
		li(data-ui-sref-active='active')
			a
				i.zmdi.zmdi-case
				| Tools
		li(data-ui-sref-active='active')
			a
				i.zmdi.zmdi-library
				| Directory
		li(data-ui-sref-active='active')
			a
				i.zmdi.zmdi-comments
				| Forums

		li(data-ui-sref-active='active')
			a
				i.zmdi.zmdi-comments
				| toolreview

		li(data-ui-sref-active='active')
			a
				i.zmdi.zmdi-comments
				| direcreview
