.sidebar-inner.c-overflow
	.active-filters
		ul.tags
			li.tag(data-ng-repeat='filter in filterMenuCtrl.selectedFilters')
				span.selection-choice-remove(data-ng-click='filterMenuCtrl.removeFilterFromTags(filter.value, filter.type)') x
				span(data-ng-bind-html="filter.value | translate")
	ul.main-menu
		li.sub-menu.toggled.slide
			a(toggle-submenu)
				i
					img(src='images/ico-grupos.svg')
				span(data-ng-bind-html="'filterBiologicalGroups' | translate")
			ul(style='display: block;')
				li
					a(data-group-name="'insects'" data-ng-class="{'selected': filterMenuCtrl.taxonomyFilters.indexOf('insects') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'taxonomy'" data-taxonomy-filters='filterMenuCtrl.taxonomyFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter data-ng-bind-html="'filterBiologicalGroupsInsects' | translate")
				li
					a(data-group-name="'birds'" data-ng-class="{'selected': filterMenuCtrl.taxonomyFilters.indexOf('birds') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'taxonomy'" data-taxonomy-filters='filterMenuCtrl.taxonomyFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter data-ng-bind-html="'filterBiologicalGroupsBirds' | translate")
				li
					a(data-group-name="'plants'" data-ng-class="{'selected': filterMenuCtrl.taxonomyFilters.indexOf('plants') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'taxonomy'" data-taxonomy-filters='filterMenuCtrl.taxonomyFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter data-ng-bind-html="'filterBiologicalGroupsPlants' | translate")
				li
					a(data-group-name="'mammals'" data-ng-class="{'selected': filterMenuCtrl.taxonomyFilters.indexOf('mammals') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'taxonomy'" data-taxonomy-filters='filterMenuCtrl.taxonomyFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter data-ng-bind-html="'filterBiologicalGroupsMammals' | translate")
				li
					a(data-group-name="'reptiles'" data-ng-class="{'selected': filterMenuCtrl.taxonomyFilters.indexOf('reptiles') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'taxonomy'" data-taxonomy-filters='filterMenuCtrl.taxonomyFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter data-ng-bind-html="'filterBiologicalGroupsReptiles' | translate")
				li
					a(data-group-name="'amphibians'" data-ng-class="{'selected': filterMenuCtrl.taxonomyFilters.indexOf('amphibians') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'taxonomy'" data-taxonomy-filters='filterMenuCtrl.taxonomyFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter data-ng-bind-html="'filterBiologicalGroupsAmphibians' | translate")
				li
					a(data-group-name="'mushrooms'" data-ng-class="{'selected': filterMenuCtrl.taxonomyFilters.indexOf('mushrooms') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'taxonomy'" data-taxonomy-filters='filterMenuCtrl.taxonomyFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter data-ng-bind-html="'filterBiologicalGroupsMushrooms' | translate")
		li.sub-menu.toggled
			a(toggle-submenu)
				i
					img(src='images/ico-zonas.svg')
				span(data-ng-bind-html="'filterGeographicZones' | translate")
			ul(style='display: block;')
				li
					a(data-department-name="'amazonas'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('amazonas') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Amazonas
				li
					a(data-department-name="'antioquia'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('antioquia') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Antioquia
				li
					a(data-department-name="'arauca'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('arauca') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Arauca
				li
					a(data-department-name="'atlántico'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('atlántico') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Atlántico
				li
					a(data-department-name="'bolívar'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('bolívar') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Bolívar
				li
					a(data-department-name="'boyacá'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('boyacá') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Boyacá
				li
					a(data-department-name="'caldas'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('caldas') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Caldas
				li
					a(data-department-name="'caquetá'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('caquetá') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Caquetá
				li
					a(data-department-name="'casanare'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('casanare') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Casanare
				li
					a(data-department-name="'cauca'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('cauca') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Cauca
				li
					a(data-department-name="'cesar'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('cesar') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Cesar
				li
					a(data-department-name="'chocó'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('chocó') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Chocó
				li
					a(data-department-name="'córdoba'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('córdoba') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Córdoba
				li
					a(data-department-name="'cundinamarca'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('cundinamarca') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Cundinamarca
				li
					a(data-department-name="'bogotá D.C.'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('bogotá D.C.') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Bogotá D.C.
				li
					a(data-department-name="'guainía'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('guainía') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Guainía
				li
					a(data-department-name="'guajira'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('guajira') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Guajira
				li
					a(data-department-name="'guaviare'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('guaviare') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Guaviare
				li
					a(data-department-name="'huila'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('huila') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Huila
				li
					a(data-department-name="'magdalena'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('magdalena') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Magdalena
				li
					a(data-department-name="'meta'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('meta') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Meta
				li
					a(data-department-name="'nariño'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('nariño') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Nariño
				li
					a(data-department-name="'norte de santander'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('norte de santander') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Norte de Santander
				li
					a(data-department-name="'putumayo'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('putumayo') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Putumayo
				li
					a(data-department-name="'quindío'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('quindío') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Quindío
				li
					a(data-department-name="'risaralda'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('risaralda') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Risaralda
				li
					a(data-department-name="'santander'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('santander') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Santander
				li
					a(data-department-name="'san andrés y providencia'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('san andrés y providencia') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) San Andrés, Providencia y Santa Catalina
				li
					a(data-department-name="'sucre'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('sucre') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Sucre
				li
					a(data-department-name="'tolima'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('tolima') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Tolima
				li
					a(data-department-name="'valle del cauca'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('valle del cauca') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Valle del Cauca
				li
					a(data-department-name="'vaupés'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('vaupés') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Vaupés
				li
					a(data-department-name="'vichada'" data-ng-class="{'selected': filterMenuCtrl.departmentFilters.indexOf('vichada') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'department'" data-department-filters='filterMenuCtrl.departmentFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter) Vichada

			//-ul(style='display: block;')
				li
					a(data-ui-sref-active='active' data-ui-sref='widgets.widget-templates' data-ng-click='mactrl.sidebarStat($event)' href='#/widgets/widget-templates' data-ng-bind-html="'filterfilterGeographicZonesBadlands' | translate")
				li
					a(data-ui-sref-active='active' data-ui-sref='widgets.widget-templates' data-ng-click='mactrl.sidebarStat($event)' href='#/widgets/widget-templates' data-ng-bind-html="'filterfilterGeographicZonesWetlands' | translate")
		li.sub-menu.toggled
			a(toggle-submenu)
				i
					img(src='images//ico-colecciones.svg')
				span(data-ng-bind-html="'filterCollections' | translate")
			ul(style='display: block;')
				li
					a(data-collection-name="'paramo'" data-ng-class="{'selected': filterMenuCtrl.collectionFilters.indexOf('paramo') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'collection'" data-collection-filters='filterMenuCtrl.collectionFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter data-ng-bind-html="'filterCollectionsBadlands' | translate")
				li
					a(data-collection-name="'humedal'" data-ng-class="{'selected': filterMenuCtrl.collectionFilters.indexOf('humedal') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'collection'" data-collection-filters='filterMenuCtrl.collectionFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter data-ng-bind-html="'filterCollectionsWetlands' | translate")
				li
					a(data-collection-name="'invasora'" data-ng-class="{'selected': filterMenuCtrl.collectionFilters.indexOf('invasora') !== -1}" data-ng-click='filterMenuCtrl.newFilterSelection()' data-type="'collection'" data-collection-filters='filterMenuCtrl.collectionFilters' data-selected-filters='filterMenuCtrl.selectedFilters' data-toggle-filter data-ng-bind-html="'filterCollectionsInvasive' | translate")
