footer.footer-wrapper
	.container
		.row
			.col-md-6
				.footer-left
					ul.footer-menu
						li
							a.toggle-partners(data-toggle-partners) Sobre este portal
						li
							a(href='http://www.sibcolombia.net/' target='_blank') SiB Colombia
						li
							a.toggle-terms(data-toggle-terms) Términos y condiciones
			.col-md-6
				.footer-right.align-right Creative Commons 4.0 · 2015. v1.3.1

	#modal-socios.footer-modal
		.footer-content
			.footer-content-top
				.row
					.col-md-6
						.footer-content-top-wr
							h3 Sobre este portal
					.col-md-6
						.footer-content-top-wr.align-right
							a.toggle-partners(data-toggle-partners)
								img(src='/images/ico-close-modal.svg')
			.footer-content-content
				span El Catálogo de la Biodiversidad de Colombia recopila información sobre las especies de fauna y flora que habitan en nuestro país. Está diseñado para ser una herramienta colaborativa en la que participen la mayor cantidad posible de organizaciones y personas, con el fin de tener la más completa red de información sobre la biodiversidad que sea de acceso libre y que ayude a la construcción de una sociedad sostenible, consciente e informada.

	#modal-terminos.footer-modal
		.footer-content
			.footer-content-top
				.row
					.col-md-6
						.footer-content-top-wr
							h3 Términos y condiciones
					.col-md-6
						.footer-content-top-wr.align-right
							a.toggle-partners(data-toggle-terms)
								img(src='/images/ico-close-modal.svg')
			.footer-content-content
				div.terms-content-container
					.main-wrapper
						.row
							.col-sm-12
								.content-block
									.item-wrapper
										.title-wrapper
											h3 Términos de uso
											span.display-arrow
												i.fa.fa-caret-down
										.content-wrapper.collapse-visible
											p Para el uso del Catálogo de la Biodiversidad de Colombia (CBC) usted acepta y se compromete a cumplir los siguientes términos y condiciones:
											p El contenido está disponible gratuita y abiertamente para el público. El SiB Colombia hace disponible para usted el contenido y el sitio web del CBC bajo reglas diferentes, dependiendo del uso que le dé.
											ul
												li El SiB Colombia invita a la reutilización o enlace del contenido del CBC tal y como se describe en la sección Derechos de Autor y Políticas. De la misma manera, se compromete a acreditar con claridad las fuentes de información usadas y a instar a sus visitantes a visitar y citar las fuentes originales.
												li El SiB Colombia invita a los usuarios a participar activamente en  la retroalimentación de las fichas publicadas.
												li El SiB Colombia está comprometido a crear un recurso de libre acceso. En resumen, toda la información que usted comparte también debe ser compartida con el resto del mundo bajo al menos una de las licencias de Creative Commons que permiten su reutilización. Por favor, lea Derechos de Autor y Políticas de Enlace para más información.
												li El SiB Colombia se reserva el derecho de moderar el contenido presentado, como se describe en las Principios de Curaduría y Condiciones para la Documentación y Uso de los Contenidos.
											p
												strong Enlaces
											p La vinculación de información externa es una característica importante que facilita la búsqueda y la conexión entre sitios web. Se invita a realizar esta vinculación como se describe en Derechos de Autor y Políticas de Enlace.
											p
												strong Privacidad
											p Mediante el uso del CBC, acepta que el SiB Colombia pueda recopilar, utilizar y divulgar la información que usted proporciona como se describe en las Políticas de Privacidad.
									.item-wrapper
										.title-wrapper
											h3 Descargo de Responsabilidad
											span.display-arrow
												i.fa.fa-caret-down
										.content-wrapper.collapse-visible
											p Ciertos nombres, títulos, marcas registradas, marcas de servicio y logotipos que aparecen en el CBC están registradas o son marcas de uso común (no registradas), propiedad de los proveedores de contenido o de terceros. Con la excepción de uso justo, no podrá utilizar dichas marcas sin el permiso previo y por escrito del propietario. Nada en el CBC será interpretado como una concesión de licencia de uso de las marcas expuestas sin el consentimiento expreso y por escrito del propietario de la marca.
											p Si tiene alguna queja u objeción al contenido publicado por no estar debidamente acreditado o aparecer publicado sin permiso del autor o dueño de marca, por favor póngase en contacto con sib@humboldt.org.co. Proporcione su información de contacto, un enlace al contenido objeto de la queja, una declaración del propietario de los derechos o el agente del propietario, y los vínculos o cualquier otra prueba que respalde su reclamo de propiedad.
											p El contenido se proporciona "tal cual", sin garantía de ningún tipo, ya sea expresa o implícita, incluyendo las garantías implícitas de comercialización, idoneidad para un uso particular, y/o no infracción. El SiB Colombia no será responsable de cualquier daño que pueda ocurrir debido a su uso o descarga.
											p El SiB Colombia puede modificar ocasionalmente estas condiciones de uso y las actualizaciones serán publicadas en esta página; los cambios entrarán en vigor luego de su publicación. Por favor revise regularmente las actualizaciones. Si el SiB Colombia no incentiva o refuerza el cumplimiento de cualquiera de estos términos, eso no constituirá una renuncia a los mismos.
											p Participando en el CBC, usted representa y garantiza que su uso sea coherente con estos términos, incluyendo el uso justo. Usted acepta defender y mantener indemne al CBC de todo reclamo, causas de acción, alegaciones, costos, gastos, honorarios (incluyendo honorarios razonables de abogados), juicios, responsabilidades, pérdidas y daños derivados de o relacionados con el uso del CBC.
											p Estas Condiciones de Uso y las enmiendas o revisiones se regirán por las leyes aplicables y sin considerar el conflicto de principios legales. En cualquier caso, la controversia, demanda, acción o procedimiento que surja de, en conexión con, o relacionada con estas condiciones de uso, se llevarán ante la autoridad correspondiente.
									.item-wrapper
										.title-wrapper
											h3 Políticas de privacidad
											span.display-arrow
												i.fa.fa-caret-down
										.content-wrapper.collapse-visible
											p El SiB Colombia está comprometido con el manejo responsable de la información y de los datos que se incorporan en el CBC. Por lo tanto, se proporcionan estas políticas de privacidad para explicar qué información se incorpora a través del sitio web www.biodiversidad.co y cómo se utiliza esa información.
											p
												strong La información personal no es recopilada automáticamente
											p El SiB Colombia registra permanentemente información técnica estándar de carácter no personal, como el tipo de navegador y dirección IP de la computadora del visitante del sitio web, con el fin de entender mejor los patrones de tráfico, las necesidades técnicas, y de mejorar el rendimiento.
											p Se utilizan  servicios de análisis de tráfico de terceros para ofrecer un análisis cuantitativo sobre los patrones de uso del Catálogo de la Biodiversidad. Esta información no incluye el nombre, correo electrónico, dirección o teléfono de los usuarios.
											p El SiB Colombia utiliza un proveedor de terceros, en la actualidad Google Analytics, para analizar la información recopilada por las cookies, con el fin de hacer el sitio web más interesante y útil. La información que se recoge de las cookies sólo será utilizada de forma agregada. Usted puede configurar su navegador para que rechace las cookies de cualquier sitio web que usted visita, todo el contenido visible permanecerá accesible. También puede optar por salir de Google Analytics mediante un opt-out.
											p
												strong Información personal que se proporciona en el Catálogo de la Biodiversidad
											p No es necesario proporcionar ninguna información personal para acceder a la información en este sitio.
											p El SiB Colombia reúne la información que usted elija proporcionar. Usted decide la cantidad de información que proporciona y el método que usa para hacerlo incluyendo sin limitación:
											ul
												li Cuando usted se suscribe a un newsletter, a un feed RSS o realiza una solicitud de información.
											p
												strong ¿Qué hace el SiB Colombia con la Información Personal?
											p El SiB Colombia maneja su información personal de manera responsable de acuerdo con el objetivo para el cual usted la proporcionó.
											p
												em Suscripciones:
												br
												| Si se suscribe a un newsfeed o feed RSS, se le pedirá que proporcione una dirección de correo electrónico. Esto se hace a través de terceros, y la información personal se utiliza para gestionar las inscripciones y la comunicación. Su uso está sujeto a las políticas de privacidad del proveedor y otros términos que rigen el uso de esos servicios.
											p
												em Participar enviando retroalimentación:
												br
												| Puede enviar sus comentarios directamente a los administradores del CBC a través del sitio web. Si incluye información personal en sus comentarios, esta se utilizará sólo con el propósito de dar respuesta y hacer seguimiento de la información.
											p El SiB Colombia puede compartir información con terceros si esta es razonablemente necesaria para (a) tomar acción respecto a actividades ilegales sospechosas; (b) hacer cumplir o aplicar políticas o términos de uso del CBC; (c) cumplir con un proceso legal, como una orden de allanamiento, una citación, un estatuto o una orden judicial; (d) proteger los derechos, la reputación o la propiedad del SiB Colombia, los usuarios del CBC, los proveedores de contenido o el público. De lo contrario, el SiB Ccolombia no alquila, vende o provee información de contacto a terceros.
											p
												strong Usted controla sus preferencias de comunicación
											p El SiB Colombia envía boletines electrónicos y otros anuncios a suscriptores del boletín, suscriptores de RSS, y personas naturales. Los destinatarios de correos electrónicos pueden optar en cualquier momento por cancelar la suscripción. Los miembros del CBC pueden suscribirse o darse de baja en cualquier momento de los boletines y otras comunicaciones.
											p
												strong Seguridad
											p El SiB Colombia toma precauciones razonables para prevenir el acceso no autorizado a la información. Hay que tener en cuenta que ningún sitio puede eliminar completamente los riesgos de seguridad. Usted es responsable de mantener la confidencialidad de su información y su contraseña.
											p
												strong Menores de edad
											p El SiB Colombia no recopila información personal identificable de niños menores de 14 años. Si un padre o tutor tiene conocimiento de que su hijo ha proporcionado información personal sin su consentimiento, debe ponerse en contacto a través del correo electrónico sib@humboldt.org.co. Si el SiB Colombia tiene conocimiento de que un niño menor de 14 años ha proporcionado información personal, dicha información será eliminada.
											p
												strong Sus comentarios son bienvenidos
											p Por favor, dirija todos sus comentarios con respecto a la política de privacidad a sib@humboldt.org.co. El SiB Colombia puede actualizar esta política de privacidad ocasionalmente y las actualizaciones serán publicadas en esta página.
									.item-wrapper
										.title-wrapper
											h3 Derechos de autor y políticas de contenido
											span.display-arrow
												i.fa.fa-caret-down
										.content-wrapper.collapse-visible
											p El SiB Colombia invita a usar y reutilizar el contenido que se encuentra en el CBC con las condiciones que se encuentran a continuación.
											p
												strong Vinculación de contenido
											ul
												li El SiB Colombia fomenta el uso de hipervínculos en otros sitios web que dirijan  a los visitantes a la página principal del CBC o a cualquier otra página web en el sitio. Estos enlaces no deberán implicar o inferir que su organización, sus productos o sus servicios están avalados por el SiB Colombia. Si usted conoce la página que desea vincular o la encuentra a través de un motor de búsqueda, simplemente copie la URL del navegador con el fin de hacer el vínculo. Cada página tiene un identificador único, que es un número entero, y se muestra en la URL (por ejemplo: http://www.biodiversidad.co/2313). Si el CBC  encuentra una coincidencia exacta para ese nombre, le llevará a la página. Si no hay coincidencia, será dirigido a la página de búsqueda de ese nombre.
												li El CBC puede enlazar con sitios de terceros que no están bajo el control del SiB Colombia. Estos vínculos se proporcionan para su conveniencia y únicamente con fines informativos; no indican una relación de  respaldo, patrocinio o afiliación del SiB Colombia  con el tercero o el contenido del sitio web vinculado. El SiB Colombia no tiene control sobre los sitios externos enlazados y no se hace responsable de ninguna representación o garantía, así como de la exactitud, legalidad o el contenido de estos sitios.
											p
												strong Uso del contenido de biodiversidad.co
											p El contenido disponible en este sitio ha sido proporcionado por los miembros y proveedores de contenido del CBC, los cuales pueden haber indicado ciertas restricciones sobre cómo se puede volver a usar ese contenido.
											p Tenga en cuenta que una misma página puede estar compuesta por varios módulos o elementos de datos diferentes, cada uno cubierto por una licencia diferente. Usted está obligado a comprobar qué licencia se aplica a la parte o partes de la página que desea utilizar y a seguir las indicaciones de la licencia de uso de ese contenido.
											p Creative Commons ha establecido un conjunto de protocolos sólido, libre y de fácil uso, por medio del los propietarios de contenido pueden licenciar fácilmente su trabajo creativo con las libertades o restricciones que desean en su información.
											p El Catálogo de la Biodiversidad provee contenido bajo una de las siguientes licencias Creative Commons:
											ul
												li CC-BY (Attribution): Permite a los usuarios copiar, transmitir, reutilizar y adaptar la información, siempre y cuando se mantenga la atribución con respecto a la fuente de la información.
												li CC-BY-SA (Attribution-ShareAlike): Tiene la restricción adicional a CC-BY en la que al alterar, transformar o ampliar la información, se debe distribuir el resultado sólo bajo una licencia igual, similar o compatible.
												li CC-BY-NC (Attribution-NonCommercial): Tiene la restricción adicional a CC-BY en la que usted no puede utilizar esta información para fines comerciales.
												li CC-BY-NC-SA (Attribution-NonCommercial-ShareAlike): Tiene la restricción adicional a CC-BY en la que al alterar, transformar o ampliar la información, se deberá distribuir el resultado sólo bajo una licencia igual, similar o compatible y no se podrá utilizar para fines comerciales.
												li La licencia se asocia con los módulos de información del Catálogo de la Biodiversidad. Para obtener esta información, los datos de la licencia se pueden encontrar junto con el objeto o haciendo clic en el módulo. Ciertos objetos, mapas, fotografías, etc., contienen enlaces a términos de uso asociados con dichos objetos. Por favor, referirse a ellos para obtener detalles adicionales de la licencia de uso.
												li Si desea volver a utilizar el contenido para fines distintos de los permitidos por la licencia de Creative Commons asociada, debe obtener permiso para hacerlo por parte del propietario (fuente).
									.item-wrapper
										.title-wrapper
											h3 Citación de los contenidos
											span.display-arrow
												i.fa.fa-caret-down
										.content-wrapper.collapse-visible
											p
												strong Cuando el catálogo es citado en su totalidad
											p Formato:
											blockquote Catálogo de la Biodiversidad de Colombia. Disponible en http://www.biodiversidad.co. Consultado en [aaaa-mm-dd].
											p Ejemplo:
											blockquote Catálogo de la Biodiversidad de Colombia. Disponible en http://www.biodiversidad.co. Consultado en 2014-01-15.
											p
												strong Cuando se cita una página
											ul
												li Si la página ha sido revisada por uno o varios curadores, estos se listan como editores en orden alfabético:
											p Formato:
											blockquote [editores en orden alfabético].”[nombre de la ficha]”. Catálogo de la Biodiversidad de Colombia. Disponible en: [enlace a la ficha]. Consultado en [aaaa-mm-dd].
											p Ejemplo:
											blockquote Quito E, Restrepo M. Editores. "Pogonomyrmex anergismus Cole, 1954." Catálogo de la Biodiversidad de Colombia. Disponible en http://www.biodiversidad.co/460427. Consultado en 2014-12-09.
											ul
												li Si la página no ha sido revisada por curadores:
											p Formato:
											blockquote ”[nombre de la ficha]”. Catálogo de la Biodiversidad de Colombia. Disponible en: [enlace a la ficha]. Consultado en [aaaa-mm-dd].
											p Ejemplo:
											blockquote "Pogonomyrmex anergismus Cole, 1954." Catálogo de la Biodiversidad de Colombia. Disponible en http://www.biodiversidad.co/460427. Consultado en 2014-12-09.
											p
												strong Cuando se cita un objeto
											p Se recomienda sólo citar información verificada, ya que algunos objetos pueden ser removidos o cambiados y la permanencia de los enlaces a los objetos referidos es responsabilidad de terceros.
											p Se sugieren dos formas de construir las citas:
											ul
												li A partir de la información presente en la página del objeto. Autor o fotógrafo, revisión, año de los derechos, nombre del taxón y título del objeto, fuente original, la fecha en la que se ingresó y la URL:
											p Formato:
											blockquote [autor]. [año]. [título del objeto]. Disponible en: [enlace]. Consultado en [aaaa-mm-dd], disponible en el Catálogo de la Biodiversidad de Colombia. [enlace a la ficha].
											p Ejemplo:
											blockquote Zaspel, Jennifer. 2010. "Noctuidae: Synapomorphies." disponible en https://www.flickr.com/. Consultado en 2014-01-01, disponible en el Catálogo de la Biodiversidad de Colombia. http://www.biodiversidad.co/460456.
											ul
												li A partir de lo que especifique el autor; para esto se debe hacer clic en  “Más información” para ver si el autor de la información sugiere una citación diferente de la establecida.
									.item-wrapper
										.title-wrapper
											h3 Estado de la revisión de los contenidos
											span.display-arrow
												i.fa.fa-caret-down
										.content-wrapper.collapse-visible
											p La información que se presenta en el CBC proviene de fuentes certificadas. La información que se presenta en el CBC proviene de fuentes certificadas, sin embargo también se admiten los aportes de la comunidad en general. Cualquier miembro del Catálogo de la Biodiversidad puede agregar objetos, es decir, información a través de enlaces a otras páginas web. Si el objeto no ha sido revisado y evaluado por un curador o administrador, será marcado como “no revisado”, en cuyo caso se recomienda ser precavido con la información contenida allí. Si el objeto es revisado y obtiene una evaluación positiva, es marcado como “revisado”, caso contrario será marcado como “no válido”. para mayor información diríjase a la página de principios de curaduría
