.site-navigation#topNavigation(data-enable-affix)
	.sidebar-display(data-ng-class="{ 'open': initCtrl.sidebarToggle.left === true }")
		#menu-trigger(data-target='mainmenu' data-toggle-sidebar data-model-left='initCtrl.sidebarToggle.left' data-model-layout-type='initCtrl.layoutType')
			.line-wrap
				.line.top
				.line.center
				.line.bottom
		.filter-display {{ 'toggleFilterMenu' | translate }}
	.right-display
		.item-count.align-right
			img(src='images/ico-right.png')
			span(data-ng-bind-html="'totalFoundSheets' | translate:'{current: '+topMenuCtrl.currentRegistersData()+', total: '+topMenuCtrl.totalRegisters()+'}'")
