node_modules/
bower_components/
.sass-cache/
.idea/
.tmp/
.DS_Store
dump.rdb
run.sh
dist/
src/app/layouts/home/final
src/app/layouts/specieDetail/final
src/public/bower_components
src/public/javascripts
src/public/stylesheets
src/public/locales
!src/public/stylesheets/fonts
src/app/layouts/final
src/public/templates
src/public/views
src/public/uploads
logs

# Design source folder
diseno

# Catalogue images, maps, videos and sounds folders
src/public/imagen
src/public/video
src/public/sonido
src/public/mapa

src/app/resources/stylesheets/topMenu.styl
