header.cat-header#header
	.top-bar
		.container
			.row
				.col-sm-6.col-xs-6
					.logo-cont
						a(class="brand", title="Catálogo de la Biodiversidad" href="/" target='_self')
							img.logo-sib(src='images/logo-cbc.png', alt='Catalogo SiB')
				.col-sm-6.col-xs-6
					ul.top-menu.sm-cont.pull-right
						li
							a.hidden-xs(href='https://www.facebook.com/SibColombia', target='_blank')
								img(src='images/ico-fb.svg', alt='Facebook')
						li
							a.hidden-xs(href='https://twitter.com/sibcolombia', target='_blank')
								img(src='images/ico-tw.svg', alt='Twitter')
						li
							a.hidden-xs(href='http://www.youtube.com/user/sibcolombia', target='_blank')
								img(src='images/ico-yt.svg', alt='YouTube')
						li.hide
							a(href='#', target='_blank', data-toggle='modal', data-target='#loginModal')
								img(src='images/ico-user.svg', alt='User account')
						li.dropdown.hide(uib-dropdown='')
							a.tm-settings(uib-dropdown-toggle='', href='')
							ul.dm-icon.pull-right.dropdown-menu
								li.hidden-xs
									a(data-ng-click='hCtrl.fullScreen()', href='')
										i.zmdi.zmdi-fullscreen
										| {{'toggleFullScreen' | translate}}
								li.visible-xs
									a(href='https://www.facebook.com/SibColombia', target='_blank')
										img(src='images/ico-fb.svg', alt='Facebook')
								li.visible-xs
									a(href='https://twitter.com/sibcolombia', target='_blank')
										img(src='images/ico-tw.svg', alt='Twitter')
								li.visible-xs
									a(href='http://www.youtube.com/user/sibcolombia', target='_blank')
										img(src='images/ico-yt.svg', alt='YouTube')
section#images-scroll(data-ng-show='headerDetailCtrl.specieDetail().imagenes')
	.container
		.row
			.col-sm-12.col-xs-12
				.recordPictures
					#gallery-container
						ul.rslides(itemscope='' itemtype='http://schema.org/ImageGallery' enable-photo-slider)
							li(data-ng-repeat='image in headerDetailCtrl.specieDetail().imagenes')
								figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
									a(data-ng-href='{{image.url}}' itemprop='contentUrl')
										img(data-ng-src='{{image.url}}')
									figcaption(itemprop='caption description')
										span(data-ng-bind-html='"&copy;"+image.rightsHolder+"&nbsp;"')
										a(data-ng-href='{{image.license}}', target="_blank") Licencia
										| ,&nbsp;
										a(data-ng-href='{{image.source}}', target="_blank") Fuente
