aside
	nav#side-nav.scroller
		ul.side-nav-menu
			li.active
				a(href='#arbol') Árbol taxonómico
			li
				a(href='#nombres') Nombres comunes
			li
				a(href='#distribucion') Distribución
			li
				a(href='#historia') Historia natural
			li
				a(href='#taxonomia') Taxonomía
			li
				a(href='#estado') Estado de conservación
			li
				a(href='#uso') Uso y tráfico
			li
				a(href='#info') Más información
