.dropdown:not([data-animation]) .dropdown-menu
	-webkit-transform scale(0)
	-ms-transform scale(0)
	-o-transform scale(0)
	transform scale(0)
	opacity 0
	filter: unquote("alpha(opacity=0)")
	display block

.dropdown:not([data-animation]) .uib-dropdown-menu.pull-right
	-webkit-transform-origin top right
	-moz-transform-origin top right
	-ms-transform-origin top right
	transform-origin top right

.dropdown:not([data-animation]).open .dropdown-menu
	-webkit-transform scale(1)
	-ms-transform scale(1)
	-o-transform scale(1)
	transform scale(1)
	opacity 1
	filter: unquote("alpha(opacity=100)")
