@import unquote('url(http://fonts.googleapis.com/css?family=Economica:400,700,400italic)')
@import unquote('url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,300italic,400italic)')

@font-face
	font-family 'Glyphicons Halflings'
	src url('../../bower_components/bootstrap-stylus/fonts/glyphicons-halflings-regular.eot')
	src url('../../bower_components/bootstrap-stylus/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../bower_components/bootstrap-stylus/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../bower_components/bootstrap-stylus/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../bower_components/bootstrap-stylus/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg')

*
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	-webkit-transition all 0.4s ease
	-moz-transition all 0.4s ease
	-ms-transition all 0.4s ease
	-o-transition all 0.4s ease
	transition all 0.4s ease
	outline none !important
  -webkit-tap-highlight-color rgba(0, 0, 0, 0) !important
	//border red 1px solid
	:focus
		outline 0

*
	margin 0
	padding 0

*
button
input
i
a
	-webkit-font-smoothing: antialiased

*
	&:active
	&:hover
		outline none !important
		-webkit-tap-highlight-color rgba(0, 0, 0, 0) !important

body
	background #f2eee3 url("/images/noise1.png") repeat 0 0 !important
	font-family 'Open Sans', Helvetica, sans-serif
a
	-webkit-transition all 0.5s ease-in-out
	-moz-transition all 0.5s ease-in-out
    -ms-transition all 0.5s ease-in-out
    -o-transition all 0.5s ease-in-out
	transition all 0.5s ease-in-out
	&:hover
		color #00a0ff
		text-decoration none
	&:focus
		outline thin dotted
		outline 5px auto -webkit-focus-ring-color
		outline-offset -2px
		outline none !important
.wrapper
	margin 0 auto

::-webkit-input-placeholder
	color #999
	font-weight normal
	font-style italic
:-moz-placeholder
	color #999
	font-weight normal
	font-style italic
::-moz-placeholder
	color #999
	font-weight normal
	font-style italic
:-ms-input-placeholder
	color #999
	font-weight normal
	font-style italic

@media (min-width: 768px)
	.container
		width calc(100% - 30px)
	.top-menu
		& > li
			&:not(#toggle-width)
				position relative

@media (min-width: 992px)
	.container
		width calc(100% - 30px)

@media (min-width 1200px)
	.container
		width 1170px
	.sw-toggled
		#header
			padding-left 0px

.align-right
	text-align right

.pull-right
	float right !important

.top-menu
	list-style none
	padding 0
	& > li
		display inline-block
		margin 0 1px
		& > a
			display inline-block
			background-position center
			background-repeat no-repeat
			position relative
			z-index 1
			&.tm-settings
				background-image url(/images/icons/ellipsis.png)
				height 35px
				min-width 30px
				vertical-align middle
				&:hover
					opacity 0.7

#header
	.top-bar
		background-color rgba(0,0,0,0.3)
		.logo-cont
			padding 10px 0
			img
				max-width 100%
				//min-width 80%
				height auto
		.sm-cont
			padding 25px 0
			img
				margin 0 10px
				opacity 1
				&:hover
					opacity 0.7
		ul
			margin-bottom 0px
			margin-top 0px
			list-style none
	.search-box
		height 370px
		position relative
		@media (max-width: 600px)
			height 140px
		.search-field
			position absolute
			left 0
			top 100px
			text-align center
			width 100%
			padding 0 20px
			@media (max-width: 600px)
				top 20px
			.search-field-cont
				.search-form-wrapper
					max-width 960px
					padding 15px
					margin auto
					background #444
					background rgba(0,0,0,.2)
					-moz-border-radius 10px
					-webkit-border-radius 10px
					border-radius 10px
					-moz-box-shadow 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2)
					-webkit-box-shadow 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2)
					box-shadow 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2)
					.form-group
						margin-bottom 0px
					input.search-input
						border 0
						-moz-border-radius 3px 0 0 3px
						-webkit-border-radius 3px 0 0 3px
						border-radius 3px 0 0 3px
						padding 15px 15px 15px 15px
						width -moz-calc(100% - 60px)
						width -webkit-calc(100% - 60px)
						width calc(100% - 60px)
						@media (max-width: 768px)
							font-size 1.1em
						@media (min-width: 768px)
							font-size 1.5em
						&:focus
							outline 0
							-moz-box-shadow 0 0 2px rgba(0,0,0,.8) inset
							-webkit-box-shadow 0 0 2px rgba(0,0,0,.8) inset
							box-shadow 0 0 2px rgba(0,0,0,.8) inset
					button
						overflow visible
						position relative
						float right
						border 0
						padding 0
						cursor pointer
						width 60px
						height 60px
						-moz-border-radius 0 3px 3px 0
						-webkit-border-radius 0 3px 3px 0
						border-radius 0 3px 3px 0
						background-color white
						text-shadow 0 -1px 0 rgba(0, 0 ,0, .3)
						@media (max-width: 768px)
							height 51px

.dropdown-menu
	position absolute
	top 100%
	left 0
	z-index 9
	display none
	float left
	min-width 160px
	padding 5px 0
	margin 2px 0 0
	list-style none
	font-size 13px
	text-align left
	background-color #fff
	border 1px solid transparent
	border-radius 2px
	-webkit-box-shadow 0 6px 12px rgba(0,0,0,0.175)
	box-shadow 0 6px 12px rgba(0,0,0,0.175)
	background-clip padding-box
	& > li
		& > a
			display block
			padding 3px 20px
			clear both
			font-weight 400
			line-height 1.42857143
			color #333
			white-space nowrap

.dropdown-menu
	box-shadow 0 2px 10px rgba(0,0,0,0.2)
	-webkit-transition all
	-o-transition all
	transition all
	-webkit-transition-duration 250ms
	transition-duration 250ms
	-webkit-backface-visibility hidden
	-moz-backface-visibility hidden
	backface-visibility hidden
	& > ul
		margin-top 0
		margin-bottom 9px
		margin-top 1px
	& > li
		& > a
			padding 8px 17px
			-webkit-transition background-color
			-o-transition background-color
			transition background-color
			-webkit-transition-duration 300ms
			transition-duration 300ms
	&.dm-icon
		& > li
			& > a
				& > .zmdi
					line-height 100%
					vertical-align top
					font-size 18px
					width 20px
					text-align center
					margin-right 10px
				& > .glyphicon
					line-height 100%
					vertical-align top
					width 20px
					text-align center
					margin-right 10px
	&:not([class*="bgm-"])
		& > li
			& > a
				&:hover
					color #000
					background-color rgba(0,0,0,0.15)
					text-decoration none

.open
	& > a
		outline 0
	.line-wrap
		-webkit-transform rotate(180deg)
		-ms-transform rotate(180deg)
		-o-transform rotate(180deg)
		transform rotate(180deg)
		.line.top
			width 12px
			transform translateX(8px) translateY(1px) rotate(45deg)
			-webkit-transform translateX(8px) translateY(1px) rotate(45deg)
		.line.bottom
			width 12px
			transform translateX(8px) translateY(-1px) rotate(-45deg)
			-webkit-transform translateX(8px) translateY(-1px) rotate(-45deg)

.zmdi
	display inline-block
	font normal normal normal 14px/1 'Material-Design-Iconic-Font'
	font-size inherit
	text-rendering auto
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

