@import unquote('url(http://fonts.googleapis.com/css?family=Economica:400,700,400italic)')
@import unquote('url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,300italic,400italic)')

*
	-webkit-transition all 0.4s ease
	-moz-transition all 0.4s ease
	-ms-transition all 0.4s ease
	-o-transition all 0.4s ease
	transition all 0.4s ease
	outline none !important
  -webkit-tap-highlight-color rgba(0, 0, 0, 0) !important
	//border red 1px solid
body
	background #f2eee3 url("/images/noise1.png") repeat 0 0 !important
	font-family 'Open Sans', Helvetica, sans-serif
a
	-webkit-transition all 0.5s ease-in-out
	-moz-transition all 0.5s ease-in-out
    -ms-transition all 0.5s ease-in-out
    -o-transition all 0.5s ease-in-out
	transition all 0.5s ease-in-out
	&:hover
		color #00a0ff
		text-decoration none
.wrapper
	margin 0 auto
