.recordContent
	h1
		display inline-block
		font-size 20px
		font-weight normal
		padding 12px
		background #ec5244
		color #fff
		margin-top 10px
		&:first-child
			margin-top 0px
#specie-detail
	padding-left 40px !important
.taxonName
	font-size 2em
	font-style italic
	font-weight 100
	.taxonNameContainer
		margin-right 10px
.authorContainer
	font-style normal
	color #000
	font-size 16px
.taxonComplete
	background #FFF
	box-shadow 3px 3px 5px #666
	padding 15px
	strong
		display inline-block
		width 80px
		text-align right
		margin-right 15px
		text-transform uppercase
	span
		color #539E8C
		font-weight bold
.sep-div
	border-bottom 2px solid #CCCCCC
	margin 40px 0 20px
.info-wrapper
	background #FFF
	box-shadow 3px 3px 5px #666
	padding 30px
	overflow hidden
	.commonName
		width 50%
		float left
		padding 15px
		.name
			text-transform uppercase
			font-size 16px
			color #539E8C
			padding-left 15px
			background url(../images/red-bullet.svg) left center no-repeat
		img
			margin-left 15px
	h2
		font-size 20px
		text-transform uppercase
		color #539e8c
		font-weight normal
.amenaza
	text-transform uppercase
	width 300px
	min-height 60px
	margin 10px 0
	clear both
	&>div
		float left
		margin-right 10px
	h3
		margin 0px !important
.ribbon-threat-status
	overflow hidden
.ribbon-threat
	width 35px
	height 35px
	font-size 15px
	padding 9px 0
	border-radius 50%
	font-family 'Open Sans', Helvetica, sans-serif
	font-weight 400
	text-align center
	text-shadow rgba(255,255,255,0.5) 0px 1px 0px
	position relative
	-webkit-box-shadow 0px 0px 3px rgba(0,0,0,0.3)
	-moz-box-shadow 0px 0px 3px rgba(0,0,0,0.3)
	box-shadow 0px 0px 3px rgba(0,0,0,0.3)
	-webkit-border-radius 30px
	border-radius 30px
	display inline-block
.threat-red
	background-color #d51920
	color #fff
.threat-orange
	background-color #f47d20
	color #fff
.threat-yellow
	background-color #f9ba1b
	color #fff
.bib-references
	list-style-position inside
