.container
	margin-right auto
	margin-left auto
	padding-left 15px
	padding-right 15px
#content
	padding 30px 0
	#searchResultsHead
		padding-bottom 30px
		.search-filters-top
			font-size 24px
@media (min-width 1200px)
	.container
		width 1170px
	.sw-toggled
		#content
			padding 30px 0 30px 280px
			& > .container
				width calc(100% - 30px)
@media (min-width: 992px)
	.container
		width calc(100% - 30px)
@media (min-width: 768px)
	.container
		width calc(100% - 30px)
#content.affix
	top 50px
	position relative
