.ribbon-green
	display none

#uvTab
	display none

body
	background-image none !important
	background-color #E6E6E6 !important

a
	color #ec5244
	text-decoration none
	&:hover
		color #ec5244
	&.readmore-link
		font-weight bold
		font-size 32px
		text-decoration none
		&:hover
			font-weight bold
			text-decoration none

.align-left
	text-align left

.align-center
	text-align center

.align-right
	text-align right

.cat-header
	background url(../images/01.jpg) center no-repeat
	background-size cover

.top-bar
	background-color rgba(0,0,0,0.3)

.logo-cont
	padding 10px 0

.sm-cont
	padding 25px 0
	img
		margin 0 10px
		opacity 1
		&:hover
			opacity 0.7

.search-box
	height 370px
	position relative

.search-field
	position absolute
	left 0
	top 100px
	text-align center
	width 100%
	padding 0 20px

.search-field-cont
	max-width 960px
	margin auto

input
	&.search-input
		width 100%
		border none
		background url(../images/ico-search.svg) right 12px center no-repeat
		background-color rgba(255,255,255,0.95)
		padding 15px 50px 15px 15px

.site-navigation
	color #FFFFFF
	background-color #EC5244
	font-size 12px
	z-index 100
	a
		color #FFFFFF
		text-decoration none
		&:hover
			text-decoration none

.affix
	top 0
	width 100%
	& + .container-fluid
		padding-top 48px
		transition none

.sidebar
	width 280px
	float left
	visibility visible
	opacity 1
	&.affix
		top 47px
	aside
		background #FFF
		box-shadow 3px 3px 5px #666666
		padding 25px
	&.toggle-filter-display
		margin-left -280px
		visibility hidden
		opacity 0

.sidebar-display
	width 280px
	float left
	border-right 1px solid #FFF
	background url(../images/ico-left.svg) right 10px center no-repeat
	img
		margin-right 12px
	&.toggle-filter-display
		width 55px
		overflow hidden
		background none
		span
			opacity 0

.filter-display
	padding 15px
	display block
	cursor pointer
	white-space nowrap

.right-display
	margin-left 280px
	&.toggle-filter-display
		margin-left 55px

.tag-list, .footer-menu
	list-style-type none
	margin 0
	padding 0

.tag-list li, .footer-menu li
	display inline-block

.footer-menu
	li
		border-right 1px solid #FFFFFF
		&:last-child
			border none
		a
			display block
			padding 0 15px
			color #FFFFFF

.tag-list
	li
		a
			display block
			padding 15px
			&:hover
				background #fff
				color #ec5244

.item-count
	padding 15px 0
	img
		margin-right 18px

.main-content
	margin-left 280px
	&.toggle-filter-display
		margin-left 0

.content-wrapper
	padding 20px

.footer-wrapper
	margin-top 20px
	background #000000
	color #FFFFFF
	font-size 12px
	padding 12px 0
	position relative

aside
	.panel-default
		& > .panel-heading
			color #ec5244
			background-color #fff
			border none
			text-transform uppercase
			& + .panel-collapse
				& > .panel-body
					border none
	.panel
		border none
	.panel-heading
		a
			text-decoration none
		.accordion-toggle
			&:after
				background-color #ec5244
				float right
				color grey
			&.collapsed
				&:after
					background-color #000000

aside .panel-heading, aside .panel-body
	padding 12px 0
	border none

.side-nav-menu
	list-style-type none
	padding 0
	margin 0
	a
		display block
		padding 10px 25px
		color #333333
		text-decoration none

.side-nav-menu a.active-nav,
.side-nav-menu li.active a
	color #ec5244
	text-decoration none
	background url(../images/red-bullet.svg) left center no-repeat

.footer-modal
	position absolute
	z-index 10
	bottom 42px
	width 100%
	margin-bottom -10px
	opacity 0
	visibility hidden

.footer-content
	color #333
	max-width 1000px
	margin auto
	background #FFF
	box-shadow 0 0 5px #666
	padding 25px

.footer-content-top-wr
	h3
		display inline-block
		font-size 14px
		font-weight normal
		background-color #000
		color #fff
		padding 10px
		height 35px

.footer-right
	color #fff

.display-footer-modal
	visibility visible
	opacity 1
	margin-bottom 0

.toggle-partners, .toggle-terms
	cursor pointer

.login-modal
	.modal-title
		text-align center
		font-size 36px
		font-weight 300
		color #ec5244

.login-panel
	padding 8px 22px
	img
		margin 0 7px
	a
		color #ec5244
		font-size 17px
		text-decoration none

.login-panel input[type="text"],
.login-panel input[type="email"],
.login-panel input[type="password"]
	margin 8px 0
	border none
	border-bottom 2px solid #EEE
	padding 8px
	width 100%

.login-panel input[type="submit"],
.login-panel input[type="button"],
.login-panel input[type="reset"]
	border none
	background none
	color #ec5244
	font-size 17px

.slideshow
	height 300px

.recordContent h1,
.taxon-title
	display inline-block
	font-size 20px
	font-weight normal
	padding 12px
	background #ec5244
	color #fff

.taxonComplete
	background #FFF
	box-shadow 3px 3px 5px #666
	max-width 320px
	padding 15px
	strong
		display inline-block
		width 80px
		text-align right
		margin-right 15px
		text-transform uppercase
	span
		font-style italic
		color #539E8C
		font-weight bold

.wallCounter
	display none

.hide-btn
	visibility hidden

strong
	&.com-name
		display inline-block
		background #ec5244
		color #fff
		padding 3px 6px
		font-weight normal
		margin 6px 0

#catalogWallSection
	#wall-container-wrapper
		#isotopeContainer
			.ficha
				.ficha-muro-datos
					span
						&.ficha-id
							font-size 14px
							text-align left
							margin-left 0
							font-style normal
							color #ec5244
							font-weight 600

.ribbon-threat-status
	overflow hidden

.ribbon-threat
	width 35px
	height 35px
	font-size 15px
	padding 9px 0
	border-radius 50%

.ficha-muro-readmore
	text-align right
	padding 12px 0 0 0

.ficha-muro-bottom
	float left

.info-wrapper
	background #FFF
	box-shadow 3px 3px 5px #666
	padding 30px
	overflow hidden
	.commonName
		width 50%
		float left
		padding 15px
	h2
		font-size 20px
		text-transform uppercase
		color #539e8c
		font-weight normal

.commonName
	.name
		text-transform uppercase
		font-size 16px
		color #539E8C
		padding-left 15px
		background url(../images/red-bullet.svg) left center no-repeat
	img
		margin-left 15px

.taxonName
	font-size 32px
	font-style italic
	font-weight 100

.authorContainer
	font-style normal
	color #000
	font-size 16px

.sep-div
	border-bottom 2px solid #CCCCCC
	margin 40px 0 20px

.carousel-wrapper
	padding 10px
	height 490px
	overflow hidden

.carousel-inner
	& > .item
		& > img
			height 470px
			width auto
			margin auto

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev
	top 50%
	margin-top -18px

.ficha
	&.card-view
		&.card-view
			position relative !important
			width 100% !important
			transform none !important
			margin 0 !important
			float none !important
			background none !important
			border none !important
			-webkit-box-shadow none !important
			-moz-box-shadow none !important
			box-shadow none !important
			border-bottom 1px solid #CCCCCC !important
			margin-top 22px !important
			padding 15px 0 !important
		.ficha-muro-datos
			background none !important
			padding-left 150px !important
			.ficha-muro-readmore
				display none
			.ficha-muro-bottom
				float none
		.amenaza-sp
			width 120px
			height 120px
			overflow hidden
			border-radius 50%
			float left
			margin-right 30px
			img
				max-width 100%
				height auto

.isotope
	width 100% !important

.toggle-view
	display block
	width 50px
	height 20px
	cursor pointer

.toggle-list
	background url(../images/view-list-ico.svg) center no-repeat
	&.view-mode
		background url(../images/view-card-ico.svg) center no-repeat

.search-filters
	padding-bottom 30px

.search-filters-top
	padding 15px 0
	font-size 24px

.search-term
	font-weight 700

.search-results
	font-weight 700
	color #5d5d5d

.search-filters-bottom
	padding 6px 0
	border-top 10px solid #FFF
	border-bottom 5px solid #FFF
	font-size 14px
	a
		color #333

.order-items
	font-weight 700

.search-filters-bottom a.active,
.search-filters-bottom a:hover
	color #ec5244
	text-decoration none

.search-filters-bottom-block
	display inline-block
	padding 2px 10px
	&.middle-block
		border-right 1px solid #000
		border-left 1px solid #000

.dropdown-wrapper
	overflow hidden
	padding-right 18px
	background url(../images/ico-down-blk.svg) no-repeat right
	select
		background transparent
		padding 5px
		font-size 16px
		line-height 1
		border 0
		border-radius 0
		height 34px
		font-weight 700
		-webkit-appearance none
		-moz-appearance none

@media (min-width: 1090px)
	.loading
		bottom 0

@media (min-width: 1200px)
	.loading
		bottom 0

.loading
	left 0
	width 100%
	margin-left auto
	margin-right auto
	background rgba(255,255,255,0.8)
	padding-top 22px
	padding-bottom 22px
	font-weight 700
	font-size 20px
	text-align center
	border-top 1px solid #CCCCCC

@media screen and (max-width: 800px)
	.sidebar-display
		display none
	.right-display
		margin-left 0
	.sidebar
		display none
	.main-content
		margin-left 0

.rowParent, .columnParent
	display -webkit-box
	display -ms-flexbox
	display -webkit-flex
	display flex
	-webkit-box-direction normal
	-webkit-box-orient horizontal
	-webkit-flex-direction row
	-ms-flex-direction row
	flex-direction row
	-webkit-flex-wrap nowrap
	-ms-flex-wrap nowrap
	flex-wrap nowrap
	-webkit-box-pack start
	-webkit-justify-content flex-start
	-ms-flex-pack start
	justify-content flex-start
	-webkit-align-content stretch
	-ms-flex-line-pack stretch
	align-content stretch
	-webkit-box-align stretch
	-webkit-align-items stretch
	-ms-flex-align stretch
	align-items stretch

.columnParent
	-webkit-box-orient vertical
	-webkit-flex-direction column
	-ms-flex-direction column
	flex-direction column

.flexChild
	-webkit-box-flex 1
	-webkit-flex 1
	-ms-flex 1
	flex 1
	-webkit-align-self auto
	-ms-flex-item-align auto
	align-self auto

.flex-element
	background #CCC
	border 2px solid #FFFFFF
	overflow hidden
