/* Home content section style */
#content-zone
	z-index 11
	position relative
.site-navigation
	color #FFFFFF
	background-color #EC5244
	font-size 12px
	z-index 20
	height 50px
	-webkit-box-shadow 0 0 13px 1px #4D4D4D
	-moz-box-shadow 0 0 13px 1px #4D4D4D
	box-shadow 0 0 13px 1px #4D4D4D
	a
		&:hover
			text-decoration none
	.sidebar-display
		width 50px
		height 50px
		border-right 1px solid rgba(204, 15, 0, 0.22)
		line-height 50px
		position absolute
		z-index 5
		background-color #ec5244
		#menu-trigger
			cursor pointer
			float left
			&:before
				content ""
				position relative
				top: 4px
				left: 4px
				width: 40px
				height: 40px
				border-radius: 50%
				background: rgba(255,255,255,0.22)
				-webkit-transition all
				-o-transition all
				transition all
				-webkit-transition-duration 300ms
				transition-duration 300ms
				-webkit-transform scale(0)
				-ms-transform scale(0)
				-o-transform scale(0)
				transform scale(0)
				z-index 0
				float left
			.line-wrap
				.line
					background-color #fff
		.filter-display
			display none

.site-navigation
	.sidebar-display.open
		width 280px
		.filter-display
			font-size 16px
			display initial
	.right-display
		padding 0px 12px 0px 62px
        padding-left 0.8em
		line-height 50px
		.item-count
			font-size 14px
			img
				padding-right 6px

@media (min-width 1200px)
	.sw-toggled
		.site-navigation
			.right-display
				padding-left calc(280px + 12px)

.line-wrap
	width 18px
	height 12px
	-webkit-transition all
	-o-transition all
	transition all
	-webkit-transition-duration 300ms
	transition-duration 300ms
	margin 17px 15px
	.line
		width 18px
		height 2px
		-webkit-transition all
		-o-transition all
		transition all
		-webkit-transition-duration 300ms
		transition-duration 300ms
	.line.center
		margin 3px 0

.open
	.filter-display
		display initial
	& > a
		outline 0
	#menu-trigger
		&:before
			-webkit-transform scale(1) !important
			-ms-transform scale(1) !important
			-o-transform scale(1) !important
			transform scale(1) !important
		.line-wrap
			-webkit-transform rotate(180deg)
			-ms-transform rotate(180deg)
			-o-transform rotate(180deg)
			transform rotate(180deg)
			.line.top
				width 12px
				transform translateX(8px) translateY(1px) rotate(45deg)
				-webkit-transform translateX(8px) translateY(1px) rotate(45deg)
			.line.bottom
				width 12px
				transform translateX(8px) translateY(-1px) rotate(-45deg)
				-webkit-transform translateX(8px) translateY(-1px) rotate(-45deg)
