/* Home content section style */
.site-navigation
	color #FFFFFF
	background-color #EC5244
	font-size 12px
	z-index 100
	height 50px
	a
		&:hover
			text-decoration none
	.sidebar-display
		width 50px
		height 50px
		float left
		border-right 1px solid rgba(204, 15, 0, 0.22)
		line-height 50px
		#menu-trigger
			cursor pointer
			float left
			&:before
				content ""
				position relative
				top: 4px
				left: 4px
				width: 40px
				height: 40px
				border-radius: 50%
				background: rgba(255,255,255,0.22)
				-webkit-transition all
				-o-transition all
				transition all
				-webkit-transition-duration 300ms
				transition-duration 300ms
				-webkit-transform scale(0)
				-ms-transform scale(0)
				-o-transform scale(0)
				transform scale(0)
				z-index 0
				float left
			.line-wrap
				.line
					background-color #fff
		.filter-display
			display none

@media (min-width 1200px)
	.site-navigation
		.sidebar-display
			//width 280px
			.filter-display
				//display initial

.line-wrap
	width 18px
	height 12px
	-webkit-transition all
	-o-transition all
	transition all
	-webkit-transition-duration 300ms
	transition-duration 300ms
	margin 17px 15px
	.line
		width 18px
		height 2px
		-webkit-transition all
		-o-transition all
		transition all
		-webkit-transition-duration 300ms
		transition-duration 300ms
	.line.center
		margin 3px 0

.site-navigation
	.sidebar-display.open
		width 280px
		.filter-display
			display initial

.open
	.filter-display
		display initial
	& > a
		outline 0
	#menu-trigger
		&:before
			-webkit-transform scale(1) !important
			-ms-transform scale(1) !important
			-o-transform scale(1) !important
			transform scale(1) !important
		.line-wrap
			-webkit-transform rotate(180deg)
			-ms-transform rotate(180deg)
			-o-transform rotate(180deg)
			transform rotate(180deg)
			.line.top
				width 12px
				transform translateX(8px) translateY(1px) rotate(45deg)
				-webkit-transform translateX(8px) translateY(1px) rotate(45deg)
			.line.bottom
				width 12px
				transform translateX(8px) translateY(-1px) rotate(-45deg)
				-webkit-transform translateX(8px) translateY(-1px) rotate(-45deg)
