#content-list
	.row
		border-bottom solid #BBBBBB
		border-bottom-width 1px
		border-bottom-style solid
		border-bottom-color rgb(187, 187, 187)
		border-bottom-width 1px
		padding-bottom 20px
		padding-top 20px
		margin-left 10px
		margin-right 20px
		&:first-child
			padding-top 0px
		.image-cropper
			width 220px
			height 220px
			position relative
			overflow hidden
			-webkit-border-radius 50%
			-moz-border-radius 50%
			-ms-border-radius 50%
			-o-border-radius 50%
			border-radius 50%
			img
				display inline
				margin 0 auto
				height 100%
				width auto
		img
			display block
			max-width 250px
			max-height 250px
			width auto
			height auto
			border-radius 0px
			-webkit-box-shadow 3px 3px 17px 0px rgba(0,0,0,0.75)
			-moz-box-shadow 3px 3px 17px 0px rgba(0,0,0,0.75)
			box-shadow 3px 3px 17px 0px rgba(0,0,0,0.75)
		span.taxonName
			font-size 1.8em
			font-style normal
			font-weight 500
			color #ec5244
			padding-left 20px
